# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Django
*.log
*.pot
*.py[cod]
media/
staticfiles/

# Virtual Environment
venv/
ENV/
env/

# Secrets & Config
.env
*.env
*.env.*
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Deployment Artifacts
*.pid
*.seed
*.pid.lock

/staticfiles/